[appRipple],
button {
    user-select: none;
    overflow: hidden;
    position: relative;

    * {
        z-index: 1;
    }

    > {
        .ripple {
            z-index: 0;
            position: absolute;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.15);
            width: 50px;
            height: 50px;
            pointer-events: none;
            transition: opacity ease .2s,
            transform ease-out 1s;

            &.hide {
                transition: opacity ease .7s,
                transform ease-out 1s;
                opacity: 0;
            }
        }
    }
}
