:host {
    display: flex;

    @media all and (max-width: 450px) {
        flex-direction: column;
    }
}

.nav-item {
    height: 40px;
    text-align: center;
    background-color: #cfd8dc;
    color: #7b8d93;
    line-height: 40px;
    font-size: 14px;
    flex: auto;
    //cursor: pointer;

    //&:hover {
    //    background-color: #c4ccd0;
    //}

    &.active {
        background-color: #575757;
        color: white;
        //pointer-events: none;
    }
}
