<form *ngIf="fields">
    <div class="input-container" *ngFor="let field of fields; let i = index">
        <input *ngIf="field.type !== 'select'" [id]="field.id" [type]="field.type" [title]="field.title"
               [name]="'input' + i" [placeholder]="field.title" [(ngModel)]="field.value" require>
        <select *ngIf="field.type === 'select'" [id]="field.id" [title]="field.title" [name]="'input' + i"
                [(ngModel)]="field.value" required>
            <!--Такой костыль нужен для отображения псевдо-плейсхолдера-->
            <option [value]="undefined" selected style='display:none;'>{{field.title}}</option>
            <option *ngFor="let item of field.items" [value]="item.id">{{item.title}}</option>
        </select>
    </div>
</form>
