.input-container {
    display: inline-block;
    width: calc(50% - 20px);
    height: 60px;
    margin-top: 2rem;

    &:nth-child(2n-1) {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
            width: 100%;
        }
    }

    input, select {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background-color: #f3f3f3;
        padding: 1rem;
        color: #7b8d93;
        font-size: 14px;
        line-height: 16px;
        font-family: Roboto, serif;
    }
}
