.info {
    width: 100%;
    display: flex;

    @media all and (max-width: 450px) {
        flex-direction: column;
    }

    .col {
        flex: 1;
        margin-bottom: 2rem;

        &:first-child {
            margin-right: 2rem;
        }

        .content {
            margin-top: 1.5rem;
        }
    }
}

app-fields {
    margin-top: -2rem;
}
