<div class="info">
    <div class="col">
        <h2>Your plan:</h2>
        <div class="content">
            <h3>{{dataService.selectedPlan.title}}</h3>
            <h3>{{dataService.selectedPlan.price + dataService.selectedPlan.currency}}</h3>
        </div>
    </div>
    <div class="col">
        <h2>Information:</h2>
        <div class="content">
            <h3>
                {{
                    dataService.getValueById('firstname', infoTab.fields) + ' ' +
                    dataService.getValueById('lastname', infoTab.fields) + ', ' +
                    dataService.getValueById('email', infoTab.fields)
                }}
            </h3>
            <h3>{{dataService.getValueById('phone', infoTab.fields)}}</h3>
        </div>
    </div>
</div>
<app-fields [fields]="tab.fields"></app-fields>
<div class="button-group right">
    <button class="success transition" [disabled]="!dataService.validForm(tab.fields)" (click)="next()">Continue
    </button>
</div>
