<h2>{{tab.description}}</h2>
<app-fields [fields]="tab.fields"></app-fields>
<div class="button-group right">
    <button class="success transition" [disabled]="!dataService.validForm(tab.fields)" (click)="next()">Continue</button>
</div>
