:host {
    display: block;
    max-height: calc(100% - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: .6rem 1rem;

    @media all and (max-width: 450px) {
        padding: .3rem .6rem;
        max-height: calc(100% - 120px);
    }
}
