.plan-list {
    text-align: center;
    margin-top: .5rem;

    .plan-item {
        width: 240px;
        height: 240px;
        max-width: 100%;
        background: linear-gradient(to right, rgb(157,166,169), rgb(120,139,145));
        display: inline-block;
        vertical-align: top;
        margin: .5rem 1rem;
        border-radius: .3rem .3rem 0 0;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            transform: scale(1.015);
        }

        img {
            width: 100%;
            height: 165px;
            object-fit: cover;
            display: block;
            border-radius: .25rem .25rem 0 0;
            overflow: hidden;
        }

        .plan-meta {
            width: 100%;
            height: 75px;
            padding: 1rem;

            h2, h4 {
                text-align: left;
                color: white;
            }
        }

        &.selected {
            img {
                width: calc(100% - 10px);
                height: 160px;
                margin: 5px 5px 0 5px;
            }

            &:hover {
                transform: unset;
            }
        }
    }
}
