<h2>{{tab.description}}</h2>
<div class="plan-list">
    <div class="plan-item transition" *ngFor="let item of tab.plans" (click)="dataService.selectedPlan = item" [class.selected]="dataService.selectedPlan === item">
        <img class="transition" [src]="item.preview">
        <div class="plan-meta">
            <h2>{{item.title}}</h2>
            <h4>{{item.price + item.currency}}</h4>
        </div>
    </div>
</div>
<div class="button-group right">
    <button class="success transition" [disabled]="!dataService.selectedPlan" (click)="next()">Continue</button>
</div>
