* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    font-family: Roboto, serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

html {
    background-color: #788b91;
    padding-top: .3rem;
}

body {
    background-color: #f3f3f3;
    padding: 1.5rem;

    @media all and (max-width: 450px) {
        padding: .3rem;
    }
}

.transition {
    transition: .3s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #7b8d93;
    font-weight: 400;
}

h2 {
    font-size: 24px;
}

.button-group {
    width: 100%;
    height: auto;
    margin: 1rem 0;

    &.right {
        text-align: right;
    }
    &.center {
        text-align: center;
    }

    button {
        display: inline-block;
        vertical-align: top;
    }
}

button {
    padding: .8rem 3rem;
    border-radius: .3rem;
    border: none;
    cursor: pointer;
    outline: none;

    &[disabled] {
        opacity: 0.7;
        cursor: default;
    }

    &.success {
        background-color: #1bb01b;
        color: white
    }
}

@import "app/shared/ripple/ripple.directive";
